/*Giving css properties which will affect the over all content*/
*{
	margin: 0px;
	padding: 0px;
	
}

/*CSS for index.html*/

/*Giving color and padding to header of index page*/
#index-aside{
	background-color: #aaaab0;
	padding: 287.5px 50px 50px 50px;
	height: 500px;
	width: 280px;
	margin-bottom: 163px;
}

/*Adding different required css properties on navigation bars*/
.index-nav1 .index-ul1 .top-nav{
	margin-top: 50px;
	list-style-type: none;
	position: relative;
	bottom: 200px;
	left: -35px;
	text-align: center;

}

/*Adding css on the text of links or bar*/
.index-nav1 .index-ul1 .top-nav .link-my{
	color: black;
	
	text-decoration: none;
	font-size: 25px;
	transition-delay: 0.1s;
	transition-timing-function: ease-out;
	background-color: whitesmoke;
	padding: 10px 50px 10px 50px;
	border: 1px solid black;
    margin-left: -40px;

}

/*Adding hover in the navigation menus of side bar*/
.index-nav1 .index-ul1 .top-nav .link-my:hover{
	color: whitesmoke;
    background-color: #0a0678;
}

/*This is the container of main body part*/
.index-div1{
	background-color: #d6e2de;
	padding: 300px 300px 10px 300px;
    position: relative;
	bottom: 1000.5px;
	margin: 100px 0px -1000px 270px;
}

/*This is the property for heading*/
.index-hone{
	color: #0a0678;
	position: relative;
	bottom: 220px;
	left: 0px;
	font-size: 130px;
	font-family: "Verdana", sans-serif;
    animation-name: welcome;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

/*This is the animation for heading*/
@keyframes welcome{
	from{color: floralwhite;}
	to{color: #0a0678;}
	from{font-size: 70px;}
	to{font-size: 130px;}
}

/*This is the properties of paragraph in main body part*/
.index-para1{
	font-size: 30px;
	position: relative;
	bottom: 220px;
	left: 0px;
	font-family: "Verdana", sans-serif;
	color: #0a0678;
    filter: drop-shadow(-5px 5px 0.1rem darkblue);
    animation-name: in-para1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}  

/*Animation of paragraph*/
@keyframes in-para1{
	from{font-size: 30px;}
	to{font-size: 50px;}
}

/*Css property of heading of paragraph*/
.index-label1{
	font-size: 40px;
	position: relative;
	bottom: 150px;
	left: 0px;
	font-family: "Luminari", fantasy;
	color: #434343;
}

/*Css property of paragraph*/
.index-para2{
	font-size: 25px;
	position: relative;
	bottom: 130px;
	left: 0px;
	font-family: "Snell Roundhand", cursive;
	line-height:38px;
	background-color: #434343;
	border: 1px solid black;
	padding: 30px;
	color: white;
	box-shadow: 12px 12px #aaaab0;
}

/*CSS property of navigation menus at bottom*/
.index-nav3 .index-link1{
	border: 1px solid black;
	background-color: #0a0678;
	padding: 5px 35px;
	list-style-type: none;
	text-decoration: none;
	position: relative;
	bottom: 80px;
	left: 220px;
	font-size: 28px;
	border-radius: 50px;
	color: white;
	transition-delay: 0.1s;
	transition-timing-function: ease-out;
}

/*Using hover in the navigation menu of central body part*/
.index-nav3 .index-link1:hover{
	background-color: white;
	color: #0a0678;
}

/*Css property of footer*/
#index-footer{
	background-color: #434343;
	padding: 60px 60px 60px 60px;
	position: relative;
	bottom: 0px;
	height: 40px;

}

/*CSS property of navigation menu of the bottom*/
.index-nav2 .index-ul2 .down-nav{
	float: right;
	list-style-type: none;
	position: relative;
	left: 150px;
	bottom: 10px;
	text-align: center;
	margin: 10px;
	
}

/*CSS property of navigation menus at bottom*/
.index-nav2 .index-ul2 .down-nav .link-page{
	border: 1px black solid;
	background-color: whitesmoke;
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 5px 20px;
	transition-delay: 0.1s;
	transition-timing-function: ease-out;
}

/*Using hover in the navigation menu of bottom part*/
.index-nav2 .index-ul2 .down-nav .link-page:hover{
	color: white;
	background-color: #0a0678;
}

/*CSS property of navigation menus at bottom*/
.index-label2{
	color: whitesmoke;
	float: right;
	position: relative;
	bottom: 45px;
	right: 350px;
	font-size: 22px;
	font-family: fantasy;
}



/*Using Media Query for responsive design of index.html*/
@media only screen and(max-width:600px){ 
	#index-aside{ 
		padding: 190px 50px 50px 50px; 
		height: 300px; 
		width: 180px; 
	} 

	#index-footer{ 
		padding: 60px 60px 60px 30px; 
	} 

	.index-label1{ 
		font-size: 24px; 
	} 

	.index-para2{ 
		font-size: 15px; 
		line-height:24px; 
		padding: 10px; 
	} 

	.index-hone{ 
		font-size: 60px; 
	} 

   .index-para1{ 
   	font-size: 20px; 
   } 
}












/*CSS for portfolio.html*/

/*CSS for body part of portfolio.html in which background image is given*/
#port-body{
	background-image: url("https://www.bcm-institute.org/thank-you-landing-page/pngtree-white-background-cartoon-hora-blue-watercolor-background-image_653820/");
	/*
    (Heng, 2019)
	*/
	height: 100vh;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}

/*CSS for the navigation of the header of portfolio.html*/
.port-ul1 .port-li1{
	display: inline-block;
	position: relative;
    left: 550px;
    margin: 20px 5px 0px 5px;
}

/*CSS for the navigation of the header of portfolio.html*/
.port-ul1 .port-li1 .port-anch{
	color: black;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: transparent;
	padding: 5px 20px 5px 20px;
	font-size: 20px;
	transition-timing-function: ease-in-out;
	transition-delay: 0.1s;
}

/*Using hover in the navigation bar of the header of portfolio.html*/
.port-ul1 .port-li1 .port-anch:hover{
	background-color: #4cedd4;
	color: white;
}

/*.port-div-up is a container*/
.port-div-up{
	display: inline-flex;
	margin-top: 20px;
}

/*CSS for the central body part of portfolio.html starts from here*/
.port-div-hp{
   margin-left: 30px;
   position: relative;
   left: 230px;
}

/*CSS of the heading for the central body part of portfolio.html*/
.port-hone1{
	color: #392df9;
	font-size: 80px;
	font-family: "Oldtown", fantasy;
	animation-name: portani-1;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.01s;
}

/*Using  animation in the heading)*/
@keyframes portani-1{
	from{color: skyblue;}
	to{color: #392df9;}
	from{font-size: 20px;}
	to{font-size: 80px;}
}

.port-p1{
	font-size: 18px;
	margin-top: 5px;	
	font-family: Fixed, monospace;
	width: 45%;
} 

/*Css for my image*/
.port-img1{
	position: relative;
	right: 300px;
}


/*.port-div-down container*/

.port-div-down{
	margin: 50px 20px 0px 20px;
}

.port-htwo1{
	font-size: 38px;
	text-align: center;
	font-family: "Parkavenue", cursive;
	color: black;
	letter-spacing: 2px;
}

.port-skill1{
	display: inline-flex;
	margin-top: 50px;
	position: relative;
	left: 7%;
}

/*Programming heading*/
.port-hthree-a{
	font-size: 25px;
	font-family: "Lucidatypewriter", monospace;
	text-decoration: underline;
}

/*Programming paragraph*/
.port-pa{
	width: 54%;
	text-align: justify;
	margin-top: 5px;
	font-size: 20px;
	font-family: "Lucida", sans-serif;
    background-color: rgba(4, 153, 229, 0.22);
	border: 1px solid black;
	padding: 10px;
}

/*Sports heading*/
.port-hthree-b{
	font-size: 25px;
	font-family: "Lucidatypewriter", monospace;
	text-decoration: underline;
}

/*Sports Paragraph*/
.port-pb{
	width: 70%;
	text-align: justify;
	margin-top: 5px;
	font-size: 20px;
	font-family: "Lucida", sans-serif;
    background-color: rgba(4, 153, 229, 0.22);
	border: 1px solid black;
	padding: 10px;
}

.port-skill2{
	display: inline-flex;
	margin: 50px 0px 60px 0px;
	position: relative;
	left: 7%;
}

/*Video Editing heading*/
.port-hthree-c{
	font-size: 25px;
	font-family: "Lucidatypewriter", monospace;
	text-decoration: underline;
}

/*Video Editing paragraph*/
.port-pc{
	width: 70%;
	text-align: justify;
	margin-top: 5px;
	font-size: 20px;
	font-family: "Lucida", sans-serif;
    background-color: rgba(4, 153, 229, 0.22);
	border: 1px solid black;
	padding: 10px;
}


/*Gaming heading*/
.port-hthree-d{
	font-size: 25px;
	margin-left: 200px;
	font-family: "Lucidatypewriter", monospace;
	text-decoration: underline;
}

/*Gaming paragraph*/
.port-pd{
	width: 52%;
	margin-left: 200px;
	text-align: justify;
	margin-top: 5px;
	font-size: 20px;
	font-family: "Lucida", sans-serif;
	background-color: rgba(4, 153, 229, 0.22);
	border: 1px solid black;
	padding: 10px;
}



/*Using media query for responsive design of portfolio.html*/

@media only screen and(max-width:600px){ 
	.port-hone1{ 
		font-size: 40px; 
	} 

	.port-p1{ 
		font-size: 58px; 
		width: 25%; 
	} 

	.port-htwo1{ 

		font-size: 24px; 
		text-align: center; 
		letter-spacing: 1px; 
	} 

	.port-skill1{ 
		display: block; 
	} 

	
	.port-hthree-a{ 
		font-size: 15px; 
	} 

	.port-pa{ 
		width: 40%; 
		font-size: 10px; 
		padding: 5px; 
	} 

	.port-hthree-b{ 
		font-size: 15px; 
	} 

	.port-pb{ 
		width: 40%; 
		font-size: 10px; 
		padding: 5px; 
	} 

	.port-skill2{
	 display: block; 
	} 

	.port-hthree-c{
	 font-size: 15px; 
	} 

	.port-pc{ 
		width: 40%; 
		font-size: 10px; 
		padding: 5px; 
	} 

	.port-hthree-d{ 
		font-size: 13px; 
	} 

	.port-pd{ 
		width: 32%; 
		font-size: 10px; 
		padding: 50px; 
	} 
}














/*CSS for contact.html*/

/*Header part css of contact page*/
#con-header{
	background-color: #65b9db;
	padding: 40px;

}

/*Css property for navigation menus of the header*/
.con-nav1{
	text-align: center;
}

/*Css property for navigation menus of the header*/
.con-nav1 .con-ul1 .con-li1{
	display: inline-flex;
}

/*Css property for navigation menus of the header*/
.con-ul1 .con-li1 .con-anch1{
	text-decoration: none;
	color: black;
	font-size: 25px;
    background-color: white;
    padding: 10px;
    margin: 0px 55px 0px 55px;
    border: 1px solid transparent;
    border-radius: 70px;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}

/*Css property for using hover in navigation menus of the header*/
.con-ul1 .con-li1 .con-anch1:hover{
	background-color: #65b9db;
	color: white;
}

/*Css property of central body part starts from here*/
.con-mid{
	background-color: #eceff0;
}

/*Heading and paragraph at top*/
.con-heading1{
	margin: 0px 60px 20px 60px;
   border-bottom: 3px solid black;
   padding-bottom: 40px;
}

.con-hthree-1{
	font-size: 48px;
	padding: 5px;
	text-align: center;
	font-family: "Blippo", fantasy;
	color: #28282c;
	text-decoration-line: underline;
	animation-name: contact-anim;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.1s;
}

/*Animation of the heading of the central body part*/
@keyframes contact-anim{
	from{font-size: 10px;}
	to{font-size: 60px;}
}

/*Css property of paragraph of central body part*/
.con-para1{
	font-size: 20px;
	margin: 5px 0px 0px 0px;
	padding: 5px;
	width: 1000px;
    position: relative;
    left: 200px;
    font-family: "Helvetica Narrow", sans-serif;
    text-align: center;
}



/*Form and my information from here*/
.con-div-infor{
	display: inline-flex;
	flex-direction: row-reverse;
	margin: 90px 0px 70px 0px;
}

/*Css for form of central body part of contact.html starts from here*/
.con-div-form1{
	position: relative;
	left: 73%;
    padding-left: 20px;
}

.con-form1{
	font-size: 20px;
    font-family: "Andale Mono", monospace;
}

#firname{
	margin-top: 15px;
	padding: 0px 120px 25px 0px;
}

#midname{
	margin-top: 15px;
	padding: 0px 120px 25px 0px;
}

#sirname{
	margin-top: 15px;
	padding: 0px 120px 25px 0px;
}

#mail{
	margin-top: 15px;
	padding: 0px 120px 25px 0px;
}

#call{
	margin-top: 15px;
	padding: 0px 120px 25px 0px;
}

#stay{
	margin-top: 15px;
	padding: 0px 120px 25px 0px;
}

#con-text-area{
	margin-top: 15px;
}

#con-click{
	position: relative;
	left: 37%;
	padding: 8px 15px 8px 15px;
	text-align: center;
	background-color: #e1d9d9;
}

/*Css for my information of central body part of contact.html starts from here*/
.con-div-info1{
	position: relative;
	left: 37%;
   
}

.con-div-mail{
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid black;
	padding-bottom: 80px;
    padding-right: 200px;
}

.con-mail-h2{
	margin: 0px 0px 25px 0px;
	font-family: "Andale Mono", monospace;
}

.con-mail-par{
	font-size: 16px;
	font-family: "Helvetica Narrow", sans-serif;
}

.con-div-add{
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid black;
	padding-bottom: 80px;
	padding-top: 60px;
}

.con-add-h2{
	margin: 0px 0px 25px 0px;
	font-family: "Andale Mono", monospace;
}

.con-add-par{
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	font-family: "Helvetica Narrow", sans-serif;
}

.con-div-ph{
	margin: 0px 0px 30px 0px;
	padding-top: 60px;
}

.con-ph-h2{
	margin: 0px 0px 25px 0px;
	font-family: "Andale Mono", monospace;
}

.con-ph-par{
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	font-family: "Helvetica Narrow", sans-serif;
}



/*Footer links from here*/
#con-foot{
	background-color: #65b9db;
	padding: 20px;
    height: 80px;
}

/*Css of navigation menus at the bottom of the page*/
.con-nav2 .con-ul2 .con-li2{
	display: inline-flex;
	float: right;
    margin-right: 5px;
}

/*Css of navigation menus at the bottom of the page*/
.con-ul2 .con-li2 .con-anch2{
	text-decoration: none;
	color: black;
    margin: 20px 20px 0px 5px;
    font-size: 18px;
    padding: 5px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    position: relative;
    left: 45px;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}

/*Hover effect at the navigation menus at the bottom of the container*/
.con-ul2 .con-li2 .con-anch2:hover{
	background-color: white;
}

/*Paragraph of foot*/
.con-foot-par{
	float: right;
	font-size: 18px;
	position: relative;
	right: 345px;
    bottom: 5px;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
}

/*Using media query for making contact.html responsive*/
@media only screen and (max-width:600px){
	#con-header{
	padding: 20px;

  }

  .con-hthree-1{
	font-size: 28px;
	padding: 1px;

  }

.con-para1{
	font-size: 10px;
	padding: 1px;
	width: 500px;

  }

  .con-form1{
	font-size: 10px;
  }

  .con-mail-par{
	font-size: 10px;
  }

.con-div-add{
	padding-bottom: 30px;
	padding-top: 20px;
  }

.con-add-h2{
	font-size: 10px
  }

.con-add-par{
	font-size: 10px;
  }

.con-div-ph{
	font-size: 10px;
	padding-top: 20px;
  }

.con-ph-h2{
	font-size: 10px
  }

.con-ph-par{
	font-size: 10px
  }

  #con-foot{
	padding: 10px;
    height: 30px;
  }

}












/*Css for blog.html form here*/

/*Css for body part of blogging type page*/
#blog-body{
	overflow-x: hidden;
}

/*Css for heading part of blogging type page*/
#blog-head{
	padding: 70px;
	background-color: #0d4789f0;
}

/*Css for navigation bar of heading part of blogging type page*/
.blog-nav1 .blog-ul1 .blog-li1{
	display: inline-flex;
	float: right;
}

/*Css for navigation bar of heading part of blogging type page*/
.blog-ul1 .blog-li1 .blog-anch1{
	text-decoration: none;
	color: black;
	padding: 10px;
	background-color: white;
    font-size: 20px;
    border: 1px solid black;
    margin: 0px 10px 0px 10px;
    position: relative;
    bottom: 30px;
    left: 15px;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
}

/*Css for hover effect of navigation bar of heading part of blogging type page*/
.blog-ul1 .blog-li1 .blog-anch1:hover{
	background-color: #3f3f45;
	color: whitesmoke;
}



/*Css of middle body part*/
.blog-aside-div{
	display: inline-flex;
}


/*Aside css part from here*/
.blog-aside1{
	background-color: #eef1ee;
	padding: 200px 90px 20px 30px;
}


/*Check Top Blogs Css propety starts from here*/

.blog-aside-htwo1{
	font-family: "Lucida", sans-serif;
	padding: 0px 0px 15px 0px;
}

.blog-aside-ul1{
	border-bottom: 2px solid black;
	padding: 0px 30px 10px 15px;
}

.blog-aside-ul1 .blog-aside-li1{
	padding: 0px 0px 5px 0px;
}

.blog-aside-ul1 .blog-aside-li1 .blog-aside-anch1{
	text-decoration: none;
	color: black;
	font-size: 18px;
    font-family: "Times New Roman", serif;
}

.blog-aside-ul1 .blog-aside-li1 .blog-aside-anch1:hover{
	font-size: 20px;
	border-bottom: 2px solid black;
}


/*Archives part css property starts from here*/
.blog-aside-htwo2{
	font-family: "Lucida", sans-serif;
	padding: 15px 0px 15px 0px;
}

.blog-aside-ul2{
	border-bottom: 2px solid black;
	padding: 0px 30px 10px 15px;
}

.blog-aside-ul2 .blog-aside-li2{
	padding: 0px 0px 5px 0px;

}

.blog-aside-ul2 .blog-aside-li2 .blog-aside-anch2{
	text-decoration: none;
	color: black;
	font-size: 18px;
    font-family: "Times New Roman", serif;

}

.blog-aside-ul2 .blog-aside-li2 .blog-aside-anch2:hover{
	font-size: 20px;
	border-bottom: 2px solid black;
}


/*Categories css property of blog.html*/
.blog-aside-htwo3{
	font-family: "Lucida", sans-serif;
	padding: 15px 0px 15px 0px;
}

.blog-aside-ul3{
	border-bottom: 2px solid black;
	padding: 0px 30px 10px 15px;
}

.blog-aside-ul3 .blog-aside-li3{
	padding: 0px 0px 5px 0px;

}

.blog-aside-ul3 .blog-aside-li3 .blog-aside-anch3{
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: "Times New Roman", serif;
}

.blog-aside-ul3 .blog-aside-li3 .blog-aside-anch3:hover{
	font-size: 20px;
	border-bottom: 2px solid black;
}

/*Recents css property for blogging page*/
.blog-aside-htwo4{
	font-family: "Lucida", sans-serif;
	padding: 15px 0px 15px 0px;
}

.blog-aside-ul4{
	border-bottom: 2px solid black;
	padding: 0px 30px 10px 15px;
}

.blog-aside-ul4 .blog-aside-li4{
	padding: 0px 0px 5px 0px;

}

.blog-aside-ul4 .blog-aside-li4 .blog-aside-anch4{
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: "Times New Roman", serif;
}

.blog-aside-ul4 .blog-aside-li4 .blog-aside-anch4:hover{
	font-size: 20px;
	border-bottom: 2px solid black;
}

/*Css of body(webpages explanation) starts from here*/
.blog-only-div{
	padding: 20px 30px 20px 30px;
	background-color: #3f3f45;
}


/*Know About Me css property is here*/
.blog-mid-hpar1{
	padding: 30px 0px 140px 0px;
	position: relative;
	left: 7%;
}

.blog-mid-htwo1{
	color: whitesmoke;
	font-family: "Lucida", sans-serif;
	padding: 0px 0px 8px 0px;
}

.blog-mid-p1{
	color: whitesmoke;
	width: 70%;
	text-align: justify;
	font-size: 20px;
	font-family: "Florence", cursive;
	animation-name: blog-par-ani;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.1s;
}

/*Animation of paragraph of central body part*/
@keyframes blog-par-ani{
	from{font-size: 20px;}
	to{font-size: 27px;}
}


/*Heading of webpages(blogs)*/
.blog-asign-h1{
	font-family: "Lucida", sans-serif;
	text-align: center;
	padding: 0px 0px 40px 0px;
	text-decoration: underline;
	color: whitesmoke;
	animation-name: header-ani;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.1s;
}

/*Animation of heading of central body part*/
@keyframes header-ani{
	from{font-size: 24px;}
	to{font-size: 80px;}
	from{color: whitesmoke;}
	to{color: darkblue}
}

/*Css of div of all three webpage*/
.blog-all-three{
	padding: 30px 0px 30px 0px;
	border: 8px solid whitesmoke;
}

/*Css of div of first and second webpage*/
.blog-fst-scd{
	display: inline-flex;
	padding: 0px 0px 60px 0px;
	position: relative;
	left: 7%;
}


/*First webpage*/

/*First webpage heading css property*/
.blog-mid-htwo2{
	padding: 0px 0px 8px 0px;
	font-family: "Lucida", sans-serif;
	color: whitesmoke;

}

/*First webpage paragraph css property*/
.blog-mid-p2{
	width: 70%;
 	text-align: justify;
	font-size: 20px;
	font-family: "Florence", cursive;
	color: whitesmoke;
}


/*Second webpage*/

/*Second webpage heading css property*/
.blog-mid-htwo3{
	font-family: "Lucida", sans-serif;
	padding: 0px 0px 8px 0px;
	color: whitesmoke;

}

/*Second webpage paragraph css property*/
.blog-mid-p3{
	width: 70%;
 	text-align: justify;
	font-size: 20px;
	font-family: "Florence", cursive;
	color: whitesmoke;
}

/*Third webpage*/

/*Third webpage paragraph css property*/
.blog-mid-hpar4{
	position: relative;
	left: 7%;
}

/*Third webpage heading css property*/
.blog-mid-htwo4{
	font-family: "Lucida", sans-serif;
	padding: 0px 0px 8px 0px; 
	color: whitesmoke;
}

/*Third webpage paragraph two css property*/
.blog-mid-p4{
	width: 80%;
 	text-align: justify;
	font-size: 20px;
	font-family: "Florence", cursive;
	color: whitesmoke;
}


/*Footer nav bar css property*/
#blog-foot{
	background-color: #0d4789f0;
	padding: 40px 30px 40px 40px;
}

/*Footer nav bar css property*/
.blog-nav2 .blog-ul2 .blog-li2{
	display: inline-flex;

}

/*Footer nav bar css property*/
.blog-ul2 .blog-li2 .blog-anch2{
	text-decoration: none;
	margin: 0px 20px 0px 20px;
	font-size: 20px;
    /*color: black;*/
    color: whitesmoke;
    position: relative;
    bottom: 4px;
    font-family: "Courier", monospace;
    font-weight: bold;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
 }

/*Footer nav bar css property*/
 .blog-ul2 .blog-li2 .blog-anch2:hover{
 	border-bottom: 5px solid black;
 	font-size: 22px;
 }

/*Footer nav bar paragraph css property*/
.blog-footp{
	font-size: 20px;
   position: relative;
   bottom: 15px;
   font-weight: bold;
   left: 20px;
   font-family: sans-serif;
   text-decoration: underline;
   color: whitesmoke; 
}




/*Using media query for responsive design*/
@media only screen and(max-width:600px){ 
	#blog-head{ 
		padding: 40px; 
	} 

	.blog-mid-hpar1{ 
		padding: 10px 0px 110px 0px; 
	} 

	.blog-mid-htwo1{ 
		font-size: 10px; 
		padding: 0px 0px 4px 0px; 
	}

	.blog-mid-p1{ 
		width: 20%; 
		font-size: 5px; 
	} 

	.blog-asign-h1{ 
		padding: 0px 0px 5px 0px; 
	} 

	.blog-all-three{ 
		padding: 5px 0px 5px 0px; 
	} 

	.blog-fst-scd{ 
		padding: 0px 0px 30px 0px; 
	} 

	.blog-mid-htwo2{ 
		padding: 0px 0px 4px 0px; 
	} 

	.blog-mid-p2{ 
		width: 40%; 
		font-size: 10px 
	} 

	.blog-mid-htwo3{ 
		padding: 0px 0px 4px 0px; 
	} 

	.blog-mid-p3{ 
		width: 40%; 
		font-size: 10px 
	} 

	.blog-mid-hpar4{ 
		font-size: 10px; 
	} 

	.blog-mid-htwo4{ 
		padding: 0px 0px 4px 0px; 
	} 

	.blog-mid-p4{ 
		width: 40%; 
		font-size: 10px;
	} 

	#blog-foot{ 
		background-color: #0d4789f0; 
		padding: 20px 10px 20px 20px; 
	} 
}














/*Css for Site-report.html starts from here*/

/*Css part of body of reporting page*/
#site-body{
	background-color: #67ffbe;
	overflow-x: hidden;
}

/*Css heading part of body of reporting page*/
#site-head{
	background-color: #fffc46;
	text-align: center;
	padding: 30px 30px 50px 30px;
}

/*Css navigation part of body of reporting page*/
.site-nav1 .site-ul1 .site-li1{
	display: inline-flex;
}

/*Css navigation part of body of reporting page*/
.site-ul1 .site-li1 .site-anch1{
	text-decoration: none;
	font-size: 22px;
	border: 1px solid black;
   margin: 0px 10px 0px 10px;
   padding: 10px 10px 10px 10px;
   color: black;
   transition-timing-function: ease-in;
   transition-delay: 0.2s;
}

/*Css part for applying hover effect in navigation part of body of reporting page*/
.site-ul1 .site-li1 .site-anch1:hover{
	background-color: whitesmoke;
	font-size: 24px;

}


/*Module experience Css property is illustrate from here*/
.site-div1{
	padding: 90px 0px 70px 0px;
}

.site-hone1{
   text-align: center;
   padding: 0px 0px 20px 0px;
   font-family: "Courier New", monospace;
   font-weight: bolder;
   text-decoration: underline;
   font-size: 30px;
   animation-name: siteh1-animate;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;

}

/*Animation of above heading*/
@keyframes siteh1-animate{
	from{font-size: 30px;}
	to{font-size: 80px;}
	to{color: darkblue;}
	from{color: black}
}

.site-par1{
	width: 80%;
	position: relative;
	left: 10%;
   text-align: justify;
   font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif;
}

/*Web page Development Method*/
.site-div2{
	padding: 0px 0px 70px 0px;
}

.site-hone2{
	text-align: center;
	padding: 0px 0px 20px 0px;
	font-family: "Courier New", monospace;
   font-weight: bolder;
   text-decoration: underline;
   font-size: 30px;
}

.site-par2{
	width: 80%;
	position: relative;
	left: 10%;
	text-align: justify;
	padding: 0px 0px 20px 0px;
	font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif;
}

.site-ol1{
	/*padding: 0px 0px 0px 165px;*/
	position: relative;
	left: 11%;
}

.site-li2{
	font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif;
}

/*Home page Css*/
.site-div-hp{
	padding: 0px 0px 70px 40px;
}

.site-hp{
	padding: 0px 0px 20px 0px;
}

.site-hp-htwo1{
	padding: 0px 0px 20px 0px;
	font-family: "Courier New", monospace;
   font-weight: bolder;
   font-size: 25px;
}

.site-hp-par1{
	width: 60%;
   font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif; 
	text-align: justify;
}

/*Image Headings of homepage*/
.hp-hthree1{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}

/*Home page Images*/
.hp-img1{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}

.home-two{
	padding: 0px 0px 0px 140px;
}

.hp-img2{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.home-four{
	padding: 0px 0px 0px 140px;
}

.hp-img3{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.home-six{
	padding: 0px 0px 0px 140px;
}

.hp-img4{
	padding: 0px 0px 40px 0px;
}


/*Home page validation heading*/
.hp-hthree2{
	padding: 0px 0px 0px 0px;
	font-family: "Florence", cursive;
}



/*Portfolio Page Css*/
.site-div-pp{
	padding: 0px 0px 70px 40px;
}

.site-pp{
	padding: 0px 0px 20px 0px;
}

.site-pp-htwo1{
	padding: 0px 0px 20px 0px;
	font-family: "Courier New", monospace;
   font-weight: bolder;
   font-size: 25px;
}

.site-pp-par1{
	width: 60%;
	font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
}


/*Image Headings of portfolio page*/
.pp-hthree1{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}

/*Images of portfolio page*/
.pp-img1{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.portfolio-two{
	padding: 0px 0px 0px 140px;
}

.pp-img2{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.portfolio-four{
	padding: 0px 0px 0px 140px;
}

.pp-img3{
	display: inline-flex;
	padding: 0px 0px 40px 0px;
}


.portfolio-six{
	padding: 0px 0px 0px 140px;
}

/*Heading of portfolio page validator*/
.pp-hthree2{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}



/*Contact Page Css*/
.site-div-cp{
	padding: 0px 0px 70px 40px;
}

.site-cp{
	padding: 0px 0px 20px 0px;
}

.site-cp-htwo1{
	padding: 0px 0px 20px 0px;
	font-family: "Courier New", monospace;
   font-weight: bolder;
   font-size: 25px;
}

.site-cp-par1{
	width: 60%;
	font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
}

/*Heading of contact page images*/
.cp-hthree1{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}

.cp-img1{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.contact-two{
	padding: 0px 0px 0px 140px;
}

.cp-img2{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.contact-four{
	padding: 0px 0px 0px 140px;
}

.cp-img3{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.contact-six{
	padding: 0px 0px 0px 140px;
}

.cp-img4{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.contact-eight{
	padding: 0px 0px 0px 140px;
}

.cp-img5{
	padding: 0px 0px 40px 0px;
}


/*Heading of contact page validator*/
.cp-hthree2{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}




/*Blog page Css*/
.site-div-bp{
	padding: 0px 0px 100px 40px;
}

.site-bp{
	padding: 0px 0px 20px 0px;
}

/*Blog page css property heading one*/
.site-bp-htwo1{
	padding: 0px 0px 20px 0px;
	font-family: "Courier New", monospace;
   font-weight: bolder;
   font-size: 25px;
}

/*Blog  page css property of paragrpah one*/
.site-bp-par1{
	width: 60%;
	font-size: 20px;
	line-height: 23px;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
}

/*Heading of blog page images*/
.bp-hthree1{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}

.bp-img1{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}

.blog-two{
	padding: 0px 0px 0px 140px;
}

.bp-img2{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.blog-four{
	padding: 0px 0px 0px 140px;
}

.bp-img3{
	display: inline-flex;
	padding: 0px 0px 80px 0px;
}


.blog-six{
	padding: 0px 0px 0px 140px;
}

.bp-img4{
	display: inline-flex;
	padding: 0px 0px 40px 0px;
}


.blog-eight{
	padding: 0px 0px 0px 140px;
}

/*Heading of blog page validator*/
.bp-hthree2{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
}


/*Images of CSS validation*/
.all-vali{
	padding: 0px 0px 100px 40px;
	text-align: center;
}

.all-hthree1{
	font-family: "Courier New", monospace;
   font-weight: bolder;
   font-size: 25px;
	padding: 0px 0px 20px 0px;
}

/*CSS property for References*/
.site-references{
	padding: 0px 0px 90px 40px;
}

.ref-htwo{
	padding: 0px 0px 20px 0px;
	font-family: "Courier New", monospace;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 26px;

}

.ref-hthree{
	padding: 0px 0px 5px 0px;
	font-family: "Florence", cursive;
	font-size: 22px;
}

.ref-par{
	font-size: 18px;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
	width: 90%;
}



/*Using Media Query in site-report page for making responsive*/
@media only screen and(max-width:600px){
	.site-par1{
		width: 45%;
	}

	.site-par2{
		width: 45%;
	}

	.site-hp-par1{
		width: 25%;
	}

	.site-pp-par1{
		width: 25%;
	}

	.site-cp-par1{
		width: 25%;
	}

	.site-bp-par1{
		width: 25%;
	}

   .ref-par{
   	width: 25%;
   }
}


